<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/javascripts/handlebars.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <link rel="stylesheet" href="/semantic.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/locationStyle.css" media="screen" title="no title" charset="utf-8">
    <script src="/semantic.min.js"></script>
  </head>
  <body>
    <section id="main-wrapper">
      {{#if user}}
        Welcome, {{user.username}}!
      {{else}}
        Hey! You should <a href="/user/login">Login</a> or <a href="/user/register">Register</a>
      {{/if}}
      <a href="104.131.68.13:3000/"><button type="button" class="ui icon button" id="mapReturn">
        <i class="home icon"></i>
        </button>
      </a>
      <hr>

      {{{body}}}
    </section>
  </body>
</html>
