<div class="ui horizontal segments">

  <div class="ui segments">
    <h1 id="location_name" class="ui segment">
      NAME
    </h1>
    <div id="location_price" class="ui segment">
      <div id="location_price" class="zero_dollar price">$</div>
      <div id="location_price" class="one_dollar price">$</div>
      <div id="location_price" class="two_dollar price">$</div>
      <div id="location_price" class="three_dollar price">$</div>
    </div>
  </div>

  <div id="location_image" class="ui segment">
    THIS WILL BE THE IMAGE
  </div>

</div>

<div class="ui horizontal segments">

  <div id="location_address" class="ui segment">
    THIS WILL BE THE ADDRESS
  </div>
  <div id="location_hours" class="ui segment">
    <!-- close
    closing
    days
    open -->
  </div>
  <div id="location_phone" class="ui segment">
    THIS WILL BE THE PHONE NUMBER
  </div>
  <div id="location_website" class="ui segment">
    THIS WILL BE THE WEBSITE
  </div>

</div>


<div id="location_byob">BYOB</div>
<div id="location_alcohol">Alcohol</div>
<div id="location_latenight">Late Night</div>
<div id="location_outdoor">Outdoor</div>
<div id="location_challenges">Challenges</div>
<div id="location_allergies">Allergies</div>
<div id="location_burgers">Burgers
<script type='text/template' id="burger-template">
    Burgers
    <ul>
      <li><%= burger_data %></li>
    </ul>
  </div>
  </script>
<div id="location_sides">Sides</div>



<button class="ui icon button">
  <i class="checkmark icon yes"></i>
</button>
<button class="ui icon button">
  <i class="minus icon no"></i>
</button>

<!-- <i class="minus icon"></i>
<i class="checkmark icon"></i> -->
<!-- <div id="location_foodtruck">Food Truck</div> -->
<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>







<script src="/javascripts/location_ajax.js"></script>
<script src="/javascripts/location_detail.js"></script>
<script src="/javascripts/burger_detail.js">
</script>
