<div class="ui stackable two column grid">

  <div class="column">
    <h1 id="location_name" class="">
      NAME
    </h1>
    <div id="location_price" class="">
      <div id="location_price" class="zero_dollar price">$</div>
      <div id="location_price" class="one_dollar price">$</div>
      <div id="location_price" class="two_dollar price">$</div>
      <div id="location_price" class="three_dollar price">$</div>
    </div>
    <div id="location_address" class="column">
      THIS WILL BE THE ADDRESS
    </div>
  </div>

  <div id="location_image" class="center aligned column">
    THIS WILL BE THE IMAGE
  </div>

</div>

<div class="ui stackable three column divided grid" style="position: relative">

  <div id="location_hours" class="column">
  </div>

  <div class="ui vertical divider"></div>

  <div id="location_phone" class="column">
  </div>

  <div class="ui vertical divider"></div>

  <div id="location_website" class="column">
  </div>

</div>

<div class="ui stackable four colmn celled grid">

  <div class="row">

      <div id="location_byob" class="four wide column">
        <h3>BYOB</h3>
        <button class="ui icon button">
          <i class="checkmark icon yes"></i>
        </button>
        <button class="ui icon button">
          <i class="minus icon no"></i>
        </button>
      </div>

      <div id="location_alcohol" class="four wide column">
        <h3>Alcohol</h3>
        <button class="ui icon button">
          <i class="checkmark icon yes"></i>
        </button>
        <button class="ui icon button">
          <i class="minus icon no"></i>
        </button>
      </div>

      <div id="location_latenight" class="four wide column">
        <h3>Late Night</h3>
        <button class="ui icon button">
          <i class="checkmark icon yes"></i>
        </button>
        <button class="ui icon button">
          <i class="minus icon no"></i>
        </button>
      </div>

      <div id="location_outdoor" class="four wide column">
        <h3>Outdoor</h3>
        <button class="ui icon button">
          <i class="checkmark icon yes"></i>
        </button>
        <button class="ui icon button">
          <i class="minus icon no"></i>
        </button>
      </div>
  </div>

  <div class="row">
    <div id="location_challenges">Challenges</div>
    <div id="location_allergies">Allergies</div>
    <div id="location_burgers">Burgers</div>
    <div id="location_sides">Sides</div>
  </div>

</div>



<!-- <i class="minus icon"></i>
<i class="checkmark icon"></i> -->
<!-- <div id="location_foodtruck">Food Truck</div> -->
<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>







<script src="/javascripts/location_ajax.js"></script>
<script src="/javascripts/location_detail.js"></script>
