<div class="ui stackable two column grid">

  <div class="column">
    <h1 id="location_name" class=""></h1>
    <div id="location_price" class="">
      <h4 id="location_price" class="zero_dollar price">$</h4>
      <h4 id="location_price" class="one_dollar price">$</h4>
      <h4 id="location_price" class="two_dollar price">$</h4>
      <h4 id="location_price" class="three_dollar price">$</h4>
    </div>
    <div id="location_address" class="column">
      THIS WILL BE THE ADDRESS
    </div>
  </div>

  <div id="location_image" class="center aligned column">
    THIS WILL BE THE IMAGE
  </div>

</div>

<div class="ui padded stackable three column divided grid" style="position: relative">

  <h5 id="location_phone" class="column"></h5>

  <div class="ui vertical divider"></div>

  <h5 id="location_hours" class="column"></h5>

  <div class="ui vertical divider"></div>

  <h5 id="location_website" class="column"></h5>

</div>

<div class="ui stackable four column celled grid">

  <div class="row">
    <div class="four wide column">
      <button id="location_byob" class="fluid ui toggle button">BYOB</button>
    </div>

    <div class="four wide column">
      <button id="location_alcohol" class="fluid ui toggle button">ALCOHOL</button>
    </div>

    <div class="four wide column">
      <button  id="location_latenight" class="fluid ui toggle button">LATE NIGHT</button>
    </div>

    <div class="four wide column">
      <button id="location_outdoor" class="fluid ui toggle button">OUTDOOR</button>
    </div>
  </div>

</div>

<div class="ui stackable grid">
  <!-- left column for secondary criteria -->
  <div class="ten wide column">
    <!-- secondary search criteria -->
    <div class="ui celled grid">
      <div id="location_challenges" class="row">

        <div class="ten wide column">
          CHALLENGES
        </div>
        <div class="six wide column">
          <div id="location_foodtruck" class="yes">-</div>
          <div id="location_foodtruck" class="no">-</div>
        </div>

      </div>
      <div id="location_allergies" class="row">

        <div class="ten wide column">
          ALLERGIES
        </div>
        <div class="six wide column">
          <div id="location_foodtruck" class="yes">-</div>
          <div id="location_foodtruck" class="no">-</div>
        </div>

      </div>
      <div id="location_burgers" class="row">

        <div class="ten wide column">
          BURGERS
        </div>
        <div class="six wide column">
          <div id="location_foodtruck" class="yes">-</div>
          <div id="location_foodtruck" class="no">-</div>
        </div>

      </div>
      <div id="location_sides" class="row">

        <div class="ten wide column">
          SIDES
        </div>
        <div class="six wide column">
          <div id="location_foodtruck" class="yes">-</div>
          <div id="location_foodtruck" class="no">-</div>
        </div>

      </div>

    </div>
    <!-- end of secondary search criteria -->
  </div>
  <!-- end of left column -->
  <div class="six wide column">
    STUFF WILL GO HERE
  </div>
</div>



<!-- <i class="minus icon"></i>
<i class="checkmark icon"></i> -->
<!-- <div id="location_foodtruck">Food Truck</div> -->









<script src="/javascripts/location_ajax.js"></script>
<script src="/javascripts/location_detail.js"></script>
