<div class="locationHeader">

  <div class="ui stackable one column grid">
    <!-- information header -->
    <!-- name and cost -->
    <div class="column">
      <h1 id="location_name" class="location_name"></h1>
      &nbsp;&nbsp;
      <h2 class="zero_dollar price">$</h2>
      <h2 class="one_dollar price">$</h2>
      <h2 class="two_dollar price">$</h2>
      <h2 class="three_dollar price">$</h2>
    </div>
    <div class="row">

    </div>

  </div>

  <div class="second_header ui padded stackable three column divided grid" style="position: relative">
    <!-- secondary information -->
    <div class="four wide column">
      <div id="location_phone"></div>
      <div id="location_address"></div>
      <div id="location_hours"></div>
    </div>
    <div class="twelve wide center aligned column middle aligned">
      <h1 id="location_website"></h1>
    </div>

  </div>

</div>


<div class="ui celled grid">
  <!-- toggles -->
  <div class="row">
    <div class="four wide column">
      <button id="location_byob" class="fluid ui toggle button">BYOB</button>
    </div>

    <div class="four wide column">
      <button id="location_alcohol" class="fluid ui toggle button">ALCOHOL</button>
    </div>

    <div class="four wide column">
      <button id="location_latenight" class="fluid ui toggle button">LATE NIGHT</button>
    </div>

    <div class="four wide column">
      <button id="location_outdoor" class="fluid ui toggle button">OUTDOOR</button>
    </div>

  </div>
</div>

<div class="ui stackable grid">
  <!-- left column for secondary criteria -->
  <div class="ten wide column">
    <!-- secondary search criteria -->
    <div class="ui celled grid">

      <!-- BURGER ROW   -->
      <div class="row">
        <div class="ten wide column">
          <!-- burger list -->
          <div id="burger_list" class="burger_list ui items">
<!--



WE ARE PUTTING ALL THE BURGERS HERE!



 -->
          </div>
          <!-- end of burger list -->

          <!-- THIS IS WHAT THE MODAL HTML IS APPENDED TO AND SHOWN ON CLICK OF A BURGER -->
          <div id="burgerDetailOne" class="ui modal small"></div>
          <div id="burgerDetailTwo" class="ui modal small"></div>
          <div id="burgerDetailThree" class="ui modal small"></div>
          <!-- MODAL SHIT END -->


        </div>
      </div>
      <!-- END OF BURGER ROW -->
      <!-- CHALLENGES ROW   -->
      <div id="location_sides" class="row">

        <!-- FIRST ROW AFTER TOGGLES -->
        <div class="column">
          <button class="fluid ui active icon button">
            <i class="food icon"></i> Sides
          </button>
        </div>


      </div>
      <!-- FIRST ROW END -->
      <!-- SECOND ROW FOR ALLERGIES -->
      <div id="location_challenges" class="row">

        <div class="column">
          <button class="fluid ui active icon button">
            <i class="trophy icon"></i> Challenges
          </button>
        </div>

      </div>


      <!-- SECOND ROW END -->
      <!-- THIRD ROW FOR SIDES -->
      <div id="location_allergies" class="row">

        <div class="column">
          <button class="fluid ui active icon button">
            <i class="first aid icon"></i> Allergies
          </button>
        </div>

      </div>

      <!-- THIRD ROW END -->
      <!-- LAST ROW FOR VEGGIES -->
      <div id="location_veggies" class="row">

        <div class="column">
          <button class="fluid ui active icon button">
            <i class="leaf icon"></i> Veggies
          </button>
        </div>

      </div>




    </div>
    <!-- end of secondary search criteria -->
  </div>
  <!-- end of left column -->

  <div class="ui six wide column" style="background-color: lightgrey">
  </div>


  <a href="104.131.68.13:3000/location/map"><button type="button" class="ui labeled icon button" id="mapReturn">
    <i class="left arrow icon"></i>
    Back to Map
    </button>
  </a>


  <!-- templates for underscore -->
  <script type="text/template" id="burgerListItemOne-template">
    <div id="burgerItemOne" class="item burgerItemOne">
      <div class="image">
        <img src=<%= image %> >
      </div>
      <div class="content">
        <a class="header">
          <%= name %>
        </a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p>
            <%= description %>
          </p>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="burgerListItemTwo-template">
    <div id="burgerItemTwo" class="item burgerItemTwo">
      <div class="image">
        <img src=<%= image %> >
      </div>
      <div class="content">
        <a class="header">
          <%= name %>
        </a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p>
            <%= description %>
          </p>
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="burgerListItemThree-template">
    <div id="burgerItemThree" class="item burgerItemThree">
      <div class="image">
        <img src=<%= image %> >
      </div>
      <div class="content">
        <a class="header">
          <%= name %>
        </a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p>
            <%= description %>
          </p>
        </div>
      </div>
    </div>
  </script>

<script type='text/template' id="burger-template">

    <div class="ui header">
    <h1><i class="food icon"></i><%= name %>&nbsp;<div class="ui star rating huge"></div></h1>
    </div>
    <div class="image content">
        <img id="burgerImage" class="ui rounded medium image" src=<%= image %> >
        <div class="description">
        <h3><%= description %></h3>
        <p><strong>Veggie Option: </strong><%= veggie %></p>
        <p><strong>Meat Options:</strong></p>
        <p><div id="meat_list"></div></p>
      </div>
    </div>
  </div>

</script>

  <script type="text/template" id="meat-template">
    <ul>
      <li>Angus:
        <%= angus %>
      </li>
      <li>Bison:
        <%= bison %>
      </li>
      <li>Elk:
        <%= elk %>
      </li>
      <li>Grassfed:
        <%= grassfed %>
      </li>
      <li>Kobe:
        <%= kobe %>
      </li>
      <li>Lamb:
        <%= lamb %>
      </li>
      <li>Turkey:
        <%= turkey %>
      </li>
  </script>



  <script src="/javascripts/location_ajax.js"></script>
  <script src="/javascripts/location_detail.js"></script>
  <script src="/javascripts/burger_detail.js">
  </script>
