<div class="ui horizontal segments">

  <div id="location_name" class="ui segment">
    NAME
  </div>
  <div id="location_price" class="ui segment">
    <div id="location_price" class="0_dollar">$</div>
    <div id="location_price" class="1_dollar">$</div>
    <div id="location_price" class="2_dollar">$</div>
    <div id="location_price" class="3_dollar">$</div>
  </div>
  <div id="location_image" class="ui segment">
    THIS WILL BE THE IMAGE
  </div>

</div>

<div class="ui horizontal segments">

  <div id="location_address" class="ui segment">
    THIS WILL BE THE ADDRESS
  </div>
  <div id="location_hours" class="ui segment">
    THIS WILL BE THE HOURS OPEN
  </div>
  <div id="location_phone" class="ui segment">
    THIS WILL BE THE PHONE NUMBER
  </div>
  <div id="location_website" class="ui segment">
    THIS WILL BE THE WEBSITE
  </div>


</div>


<div id="location_byob">BYOB</div>
<div id="location_alcohol">Alcohol</div>
<div id="location_latenight">Late Night</div>
<div id="location_outdoor">Outdoor</div>
<div id="location_challenges">Challenges</div>
<div id="location_allergies">Allergies</div>
<div id="location_burgers">Burgers</div>
<div id="location_sides">Sides</div>



<button class="ui icon button">
  <i class="checkmark icon yes"></i>
</button>
<button class="ui icon button">
  <i class="minus icon no"></i>
</button>

<!-- <i class="minus icon"></i>
<i class="checkmark icon"></i> -->
<!-- <div id="location_foodtruck">Food Truck</div> -->
<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>

<div id="location_foodtruck" class="yes">-</div>
<div id="location_foodtruck" class="no">-</div>







<script src="/javascripts/location_ajax.js"></script>
<script src="/javascripts/location_detail.js"></script>
<script src="/javascripts/burger_detail.js">
</script>
