<!-- Google Map API -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ8wDa0Y7m3dFsKwNaTPEsZD5AR3kq5Dc&callback=initMap"></script>

<!-- Map Canvas -->
<div class="ui grid">
    <br>
    <div id="map" class="one wide" style="width:1500px; height:500px"></div>
</div>



<script type="text/javascript">
  var map;
  var data;
  var mapData;
  var infoWindows = [];

  // Create the Map
  function initMap() {
    console.log('initMap called');
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 41.889141, lng: -87.688119}, //chicago-ish
      zoom: 13 // bigger is closer
    });
    dataCalling(map);
  }

  // Call to the API to get the search data
  function dataCalling(map) {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/location/get-session", false);
    xhr.onload = function() {
      if (xhr.readyState != XMLHttpRequest.DONE) {
        return;
      }
      if (xhr.status == 200) {
        console.log("query successful");
        var response = JSON.parse(xhr.responseText);
        // console.log(response);
        mapData = response;
        // console.log(mapData);
        setMarkers(mapData, map);
      };
    };
    xhr.send(null);
  }


// Create the Markers
function setMarkers(mapData, map) {
  console.log("setMarkers called");
  data = mapData;
  var marker = [];
  for (var i = 0; i < data.length; i++) {
    var place = data[i];
    console.log("call markerItem");
    marker[i] = new markerItem(place, map);
  }
}

// Marker Constructor
var markerItem = function(data, map) {
  this.image = {
    url: '/images/map-marker.png',
    size: new google.maps.Size(30, 44)
  };

  this.marker = new google.maps.Marker({
    position: {lat: data.coords[1], lng: data.coords[0]},
    map: map,
    title: data.name,
    icon: this.image
  });

  var markerSelf = this.marker;
  this.marker.addListener('click', function() {
    // concatinate the locationID to POST route url
    var saveURL = "/location/set-session/" + data._id
    // call the POST to save into a Session Variable
    var setLocationID = new XMLHttpRequest();
    setLocationID.open("POST", saveURL, false);
    setLocationID.onload = function() {
      if (setLocationID.readyState != XMLHttpRequest.DONE) {
        return;
      }
      if (setLocationID.status == 200) {
        console.log("SUCCESS: " + setLocationID.statusText);
      } else {
        console.log("ERROR: " + setLocationID.statusText);
      }
    };
    setLocationID.send(null);

    for (var i=0;i<infoWindows.length;i++) {
       infoWindows[i].close();
    }
    // console.log(data[0]);
    var infowindow = new google.maps.InfoWindow();

    var content = '<div class="ui horizontal segments">' +
      '<div class="ui segments">' +
        '<h1 id="location_name" class="ui segment">' + data.name +
        '</h1>' +
        '<input type="button" onclick="window.location=\'/location/detail\';" value="Details">' +
        '<div id="location_price" class="ui segment">' +
          '<div id="location_price" class="zero_dollar price">$</div>' +
          '<div id="location_price" class="one_dollar price">$</div>' +
          '<div id="location_price" class="two_dollar price">$</div>' +
          '<div id="location_price" class="three_dollar price">$</div>' +
        '</div>' +
      '</div>' +

      '<div id="location_image" class="ui segment">' +
        '<img src="' + data.image + '" alt="" />' +
      '</div>' +

    '</div>' +

    '<div class="ui horizontal segments">' +

      '<div id="location_address" class="ui segment">' +
        data.address +
      '</div>' +
      '<div id="location_hours" class="ui segment">' +
        '<p>' + data.hours[0].days + '</p>' +
        '<p>Opens: ' + data.hours[0].opening + '</p>' +
        '<p>Closes: ' + data.hours[0].closing + '</p>' +
      '</div>' +
      '<div id="location_phone" class="ui segment">' +
        data.phone +
      '</div>';

    infowindow.setContent(content);
    infoWindows.push(infowindow);
    infowindow.open(map, markerSelf);
  });
}
</script>
