<section id="primary-search">
  <li><button class="ui button" type="button" value="challenges">Challenges</button></li>
  <li><button type="button" value="foodtruck">Foodtrucks</button></li>
  <li><button type="button" value="veggie">Vegetarian/Vegan</button></li>
  <li><button type="button" value="allergies">Allergies</button></li>
  <li><button type="button" value="meats">Choose Your Meat</button></li>
  <li><button type="button" value="top">Top Burgers</button></li>
  <li><button type="button" value="sides">Search by sides</button></li>
  <li><button type="button" value="cost">Search by cost</button></li>
</section>

<section id="refined-search">

</section>

<script type="text/javascript">
  var searchBtns = document.getElementsByTagName('button');
  for (var i = 0; i < searchBtns.length; i++) {
    searchBtns[i].addEventListener('click', function() {
      var primary = document.getElementById('primary-search');
      var selection = this.value;
      selection = selection.toLowerCase();
      primary.style.display = "none";

      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/search", true);
      xhr.onload = function() {
        if (xhr.readyState != XMLHttpRequest.DONE) {
          return;
        }
        if (xhr.status == 200) {
          var response = JSON.parse(xhr.responseText)[0][selection][0];
          var context = {
            "name" : response.name,
            "description" : response.description,
            "defaultCriteria" : response.defaultCriteria,
            "imageURL" : response.imageURL
          };
          var template = document.getElementById('refined-search-template').innerHTML;
          var templateScript = _.template(template);
          var html = templateScript(context);
          var p = document.createElement('p');
          p.innerHTML = html;
          var second = document.getElementById('refined-search');
          second.appendChild(p);
          second.style.display = "block";
        }
      };
      xhr.send(null);
    });
  }
</script>

<script type="text/template" id="refined-search-template">
  <h1> <%= name %> </h1>
  <img src="<%= imageURL %>" alt="" id="detailSearchImg"/>
  <hr>
  <p>
    <%= description %>
  </p>
  <div>
    <% for (var crit in defaultCriteria) { %>
      <% for (var key in defaultCriteria[crit]) { %>
        <li><%= key + ": " + defaultCriteria[crit][key] %></li>
      <% } %>
    <% } %>
  </div>
</script>
