<section id="primary-search">
  <li><button class="ui button" type="button" value="challenges">Burger Challenges</button></li>
  <li><button class="ui button" type="button" value="foodtruck">Foodtrucks</button></li>
  <li><button class="ui button" type="button" value="veggie">Vegetarian/Vegan</button></li>
  <li><button class="ui button" type="button" value="allergies">Allergies</button></li>
  <li><button class="ui button" type="button" value="meats">Choose Your Meat</button></li>
  <li><button class="ui button" type="button" value="top">Top Burgers</button></li>
  <li><button class="ui button" type="button" value="sides">Search by sides</button></li>
  <li><button class="ui button" type="button" value="cost">Search by cost</button></li>
</section>

<section id="refined-search">

</section>

<script type="text/javascript">

  var searchBtns = document.getElementsByTagName('button');
  for (var i = 0; i < searchBtns.length; i++) {
    searchBtns[i].addEventListener('click', function() {
      var primary = document.getElementById('primary-search');
      var selection = this.value;
      selection = selection.toLowerCase();
      var criteria = {};
      criteria[selection] = true;
      primary.style.display = "none";

      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/search", true);
      xhr.onload = function() {
        if (xhr.readyState != XMLHttpRequest.DONE) {
          return;
        }
        if (xhr.status == 200) {
          var response = JSON.parse(xhr.responseText)[0][selection][0];
          var context = {
            "name" : response.name,
            "description" : response.description,
            "defaultCriteria" : response.defaultCriteria,
            "imageURL" : response.imageURL
          };
          var template = document.getElementById('refined-search-template').innerHTML;
          var templateScript = _.template(template);
          var html = templateScript(context);
          var div = document.createElement('div');
          div.innerHTML = html;
          var second = document.getElementById('refined-search');
          second.appendChild(div);
          second.style.display = "block";
          addDefaults(criteria);
        }
      };
      xhr.send(null);
    });
  }

  var addDefaults = function(obj) {
    var btns = document.getElementsByClassName('defaults');
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var selection = this.name;
        if (this.value == "true") {
          this.value = false;
          console.log(this.value);
        } else {
          this.value = true;
          console.log(this.value);
        }
        this.classList.toggle("selected");

        console.log(selection);
      });
    }
  }
</script>

<script type="text/template" id="refined-search-template">

  <img id="search-img" src="<%= imageURL %>" alt="" id="detailSearchImg"/>
  <h1 id="title"> <%= name %> </h1>
  <hr>
  <div id="search-desc" class="ui raised segments">
    <p>
      <%= description %>
    </p>
  </div>
  <div class="ui raised segment">
  <div id="defaults-cont" class="ui stackable four column grid">
    <div class="column center aligned">
      <button class="circular ui toggle button defaults" name="alcohol" value="false">
        Alcohol
      </button>
    </div>
    <div class="column center aligned">
      <button class="circular ui toggle button defaults" name="byob" value="false">
        B.Y.O.B.
      </button>
    </div>
    <div class="column center aligned">
      <button class="circular ui toggle button defaults" name="latenight" value="false">
        Open late
      </button>
    </div>
    <div class="column center aligned">
      <button class="circular ui toggle button defaults" name="outdoor" value="false">
        Outdoor Seating
      </button>
    </div>
  </div>
</div>
  <div id="search-btn" class="ui raised segment">
    <button class="ui green inverted button">Search</button>
  </div>
</script>
