body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main-wrapper {
  width: 96%;
  margin: 0 auto;
}

#search-img {
  height: 180px;
  width: 200px;
}

#primary-search {
  width: 200px;
  margin: 0 auto;
}

#primary-search li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#primary-search button {
  width: 200px;
  height: 80px;
  font-size: 18px;
  margin: 0;
  margin-bottom: 4px;
}

#refined-search {
  display: none;
}

#refined-search li {
  list-style: none;
}

#refined-search p {
  margin: 0;
  padding: 0;
}

#title {
  float: right;
  color: turquoise;
}

#search-desc {
  padding: 2%;
}

#refined-search.column {
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
}

.defaults {
  height: 90px;
  width: 90px;
  margin-right: 0;
}

.selected {
  background-color: turquoise!important;
  color: white!important;
}

#search-btn {
  background-color: turquoise;
  color: white;
  margin: 0 auto;
}
